<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body bg-primary text-white rounded">
        <h5 class="card-title">Total Products</h5>
        <h2>{{productCount}}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body bg-warning text-white rounded">
        <h5 class="card-title">Total Categories</h5>
        <h2>{{categoriesCount}}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body bg-secondary text-white rounded">
        <h5 class="card-title">Total Revenue</h5>
        <h2>{{ totalPrice.toFixed(2)}}</h2>
      </div>
    </div>
  </div>



  <!-- 
    <table style="margin: 20px;">
        <thead>
          <tr>
            <th>ProductId</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>CategoryId</th>
            <th>Category</th>
          </tr>
        </thead>
        <ng-container *ngFor="let category of categories">
          <tr *ngFor="let product of category.products">
            <td>{{ product.pid }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.quantity }}</td>
            <td>${{ product.price }}</td>
            <td>{{ category.cid }}</td>
            <td>{{ category.categoryName }}</td>
            <td>
               <button>Edit</button>
              <button>Delete</button> 
            </td>
          </tr>
        </ng-container>
      </table> -->




  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead class="thead-primary">
              <tr>
                <th>ProductId</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>CategoryId</th>
                <th>Category</th>
             
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let category of categories">
                <tr *ngFor="let product of category.products">
                  <td>{{ product.pid }}</td>
                  <td>{{ product.productName }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>${{ product.price }}</td>
                  <td>{{ category.cid }}</td>
                  <td>{{ category.categoryName }}</td>

                </tr>
              </ng-container>
              <!-- <tr *ngFor="let product of products">
                <td scope="row" class="scope">{{ product.pid }}</td>
                <td>{{ product.productName }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>$5.00</td>
                <td><button style="margin: 5px;padding: 10px;" class="btn btn-primary">Edit</button>
                  <button style="margin: 5px;padding: 10px;" class="btn btn-danger"
                    (click)="onDelete(product.pid)">Delete</button>
                </td>
              </tr> -->

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


</div>
<div class="row pt-3">
  <div class="col-3 text-center">
    <button (click)="getUser()" class="btn btn-danger">Load Users</button>

  </div>

</div>