.row {
    margin: 20px;
    
}
.btn{
    padding: 2px;
}
.search-container {
    margin-bottom: 20px;
  }
  
  .add-product-form {
    margin-bottom: 20px;
  }
  
  .add-product-form input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 0;
  }
  
  /* button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #218838;
  }
   */